<div>
    <!-- set up your responsive grid: 1 col for mobile (default), 4 for the rest (md and up) -->
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-2 md:gap-8">

        <div class="p-1 md:p-4 rounded-lg shadow-lg bg-white box-border">
            <div style="height: 400px;">{{ uiOutput("states1") }}</div> <!-- set height here to prevent bouncing.  -->
        </div>

        <div class="p-1 md:p-4 rounded-lg shadow-lg bg-white box-border">
            <div style="height: 400px;">{{ uiOutput("states2") }}</div> 
        </div>

        <div class="p-1 md:p-4 rounded-lg shadow-lg bg-white box-border">
            <div style="height: 400px;">{{ uiOutput("states3") }}</div> 
        </div>

        <div class="p-1 md:p-4 rounded-lg shadow-lg bg-white box-border">
            <div style="height: 400px;">{{ uiOutput("states4") }}</div> 
        </div>


    </div>
</div>